main {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
blockquote {
  position: relative;
  background: grey;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  color: white;
  width: 120%;
  height: 70px;
  padding: 0;
  margin: auto;
}

blockquote::before {
  content: open-quote;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  font-family: 'Josefin Sans', sans-serif;
}

h1,h2 {
  font-family: 'Abril Fatface', cursive;
}

.nagyobb {
  margin-top: 0;
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: square;
}

.hi {
  position: absolute;
  text-align: center;
  top: 275px;
}
.anakin {
  position: absolute;
  text-align: center;
  top: 300px;
}